/*  using modulke so that the css here is applied only on cards.jsx */


.container{
    border: solid rgba(0,0,0,0.5) 2px;
    border-radius: 10px;
    margin: 50px;
    padding: 15px;
    font-family: 'Source Code Pro', monospace;
    background-color:rgba(237, 241, 243, 0.6);

}
.mainColor{
    color: white !important;
    font-weight: bold !important;
    font-size: 15px !important;
}
.card{
    border-top: solid white 10px;
    border-bottom: solid  white 10px;
    color: white !important;
    border-radius: 10px;
    margin: 0 2% !important;

}
.infected{
    background-color: rgb(212, 17, 17) !important;


}
.recovered{
    background-color: rgb(65, 148, 26) !important;

}
.deaths{
    border-top: solid  white 10px;

    background-color: black !important;

}
